@model ChangTing.Music.Models.StorageInfo
@{
    Layout = "~/Views/Shared/_Backstage.cshtml";
    ViewBag.Title = "StorageListAdd_Admin";//音乐
}

@section SectionCss
{
    <link href="~/Content/Storage/css/StorageListAdd_Admin.css" rel="stylesheet" />
}

<article class="page-container" style="overflow:hidden; margin-left:50px">
    @using (Html.BeginForm("StorageListAdd_Admin", "Music", FormMethod.Post, htmlAttributes: new
    {
        enctype = "multipart/form-data",
        @id = "form-article-add",
        @class = "form form-horizontal"
    }))
    {
        <input type="hidden" value="@ViewBag.cg" id="myHiddenVar" />//操作结果存储
        @Html.HiddenFor(Model => Model.CreateDate)//存储创建时间
        <input id="storageid" name="storageid" type="hidden" value="@Model.StorageId" />//存储音乐ID
        <input id="singerid" name="singerid" type="hidden" value="@Model.SingerId" />//存储歌手ID
        <input id="categoryid" name="categoryid" type="hidden" value="@Model.CategoryId" />//存储类别ID
        <input id="albumid" name="albumid" type="hidden" value="@Model.AlbumId" />//存储专辑ID
        
        if (ViewBag.cg != null)
        {
            <script type="text/javascript">
                alert($('#myHiddenVar').val());
            </script>
        };

        <div class="row cl">
            <div class="row cl">

                @*音乐名*@
                <div class="col-xs-6 col-sm-5">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-5"><span class="c-red">*</span>音乐名称：</label>
                        <div class="formControls col-xs-8 col-sm-7 mb-15">
                            @Html.TextBoxFor(Model => Model.RealName, htmlAttributes: new
                       {
                           @class = "input-text",
                           id = "Name",
                           name = "Name"
                       })
                        </div>
                        <div class="form-label col-xs-8 col-sm-8">
                            <span class="c-red">@Html.ValidationMessageFor(Model => Model.RealName)</span>
                        </div>
                    </div>
                </div>

                @*歌手*@
                <div class="col-xs-6 col-sm-5">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-5">所属歌手：</label>
                        <div class="col-xs-6 col-sm-7 mb-15">

                            @if (ViewBag.singer != null)
                            {
                                ChangTing.Singer.Models.SingerInfo singerinfo = (ChangTing.Singer.Models.SingerInfo)ViewBag.singer;
                                <input class="input-text lest-text" id="singername" name="singername" value="@singerinfo.Name" />
                            }
                            else
                            {
                                <input class="input-text lest-text" id="singername" name="singername" />
                            }
                            <div class="list-text-button">
                                <div class="list-text-button-sanjiao"></div>
                            </div>

                            <div class="list-textlist">
                                <div _val="singer" class="SingerName">
                                    @if (ViewBag.SingerName != null)
                                    {
                                        foreach (ChangTing.Singer.Models.SingerInfo item in ViewBag.SingerName)
                                        {
                                            <a  value="@item.SingerId">@item.Name</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-label col-xs-8 col-sm-8">
                            <span class="c-red">@Html.ValidationMessageFor(Model => Model.SingerId)</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row cl">

                @*类别*@
                    <div class="col-xs-6 col-sm-5">
                        <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-5"><span class="c-red">*</span>所属类别：</label>

                        <div class="col-xs-6 col-sm-7 mb-15">

                            @if (ViewBag.category != null)
                            {
                                ChangTing.Music.Models.CategoryInfo categoryinfo = (ChangTing.Music.Models.CategoryInfo)ViewBag.category;
                                <input class="input-text lest-text" id="categoryname" name="categoryname" value="@categoryinfo.NickName" />
                            }
                            else
                            {
                                <input class="input-text lest-text" id="categoryname" name="categoryname" />
                            }
                            <div class="list-text-button">
                                <div class="list-text-button-sanjiao"></div>
                            </div>

                            <div class="list-textlist">
                                <div _val="category">
                                    @if (ViewBag.CategoryName != null)
                                    {
                                        foreach (ChangTing.Music.Models.CategoryInfo item in ViewBag.CategoryName)
                                        {
                                            <a value="@item.CategoryId">@item.NickName</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-label col-xs-8 col-sm-8">
                            <span class="c-red">@Html.ValidationMessageFor(Model => Model.CategoryId)</span>
                        </div>
                    </div>
                </div>

                @*专辑*@
                <div class="col-xs-6 col-sm-5">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-5">所属专辑：</label>

                        <div class="col-xs-6 col-sm-7 mb-15">

                            @if (ViewBag.album != null)
                            {
                                ChangTing.Singer.Models.AlbumInfo storageinfo = (ChangTing.Singer.Models.AlbumInfo)ViewBag.album;
                                <input class="input-text lest-text" id="albumname" name="albumname" value="@storageinfo.Name" />
                            }
                            else
                            {
                                <input class="input-text lest-text" id="albumname" name="albumname" />
                            }
                            <div class="list-text-button">
                                <div class="list-text-button-sanjiao"></div>
                            </div>

                            <div class="list-textlist">
                                <div _val="album" class="album">
                                    @if (ViewBag.AlbumName != null)
                                    {
                                        foreach (ChangTing.Singer.Models.AlbumInfo item in ViewBag.AlbumName)
                                        {
                                            <a value="@item.AlbumId">@item.Name</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-label col-xs-8 col-sm-8">
                            <span class="c-red">@Html.ValidationMessageFor(Model => Model.AlbumId)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row cl">

                @*播放次数*@
                <div class="col-xs-6 col-sm-5">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-5"><span class="c-red">*</span>播放次数：</label>
                        <div class="formControls col-xs-6 col-sm-6 mb-15">
                            @Html.TextBoxFor(Model => Model.Frequency, htmlAttributes: new
                       {
                           @class = "input-text",
                           id = "Frequency",
                           name = "Frequency"
                       })
                        </div>
                        <div class="form-label col-xs-8 col-sm-8">
                            <span class="c-red">@Html.ValidationMessageFor(Model => Model.Frequency)</span>
                        </div>
                    </div>
                </div>

                @*音乐时间*@
                <div class="col-xs-6 col-sm-5">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-5"><span class="c-red">*</span>音乐时间(秒)：</label>
                        <div class="formControls col-xs-6 col-sm-6 mb-15">
                            @Html.TextBoxFor(Model => Model.Time, htmlAttributes: new
                       {
                           @class = "input-text",
                           id = "Time",
                           name = "Time"
                       })
                        </div>
                        <div class="form-label col-xs-8 col-sm-8">
                            <span class="c-red">@Html.ValidationMessageFor(Model => Model.Time)</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row cl">

                @*发行时间*@
                <div class="col-xs-6 col-sm-5">
                    <div class="row cl">

                        <label class="form-label col-xs-5 col-sm-5">发行时间：</label>

                        <div class="text-c col-xs-5 col-sm-5 mb-15">
                            @Html.TextBoxFor(Model => Model.ReleaseTime, htmlAttributes: new
                       {
                           @class = "input-text Wdate",
                           id = "Issue",
                           name = "Issue",
                           onfocus = "WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#{%y-60}-%M-%d',maxDate:'%y-%M-%d'})",
                       })
                        </div>
                    </div>
                </div>

                @*显示状态*@
                <div class="col-xs-6 col-sm-5">
                    <div class="row cl">
                        <label class="form-label col-xs-5 col-sm-5">显示状态：</label>
                        <div class="formControls col-xs-7 col-sm-7 skin-minimal">
                            @{
                                if (Model.Display == 1)
                                {
                                    <div class="cl">
                                        <div class="check-box col-xs-5 col-sm-5">
                                            <input type="radio" id="radio-zhuangtai0" name="radio-zhuangtai" checked="" value="0" />
                                            <label for="radio-zhuangtai0">正常</label>
                                        </div>
                                        <div class="check-box col-xs-5 col-sm-5">
                                            <input type="radio" id="radio-zhuangtai1" name="radio-zhuangtai" checked="checked" value="1" />
                                            <label for="radio-zhuangtai1">置顶</label>
                                        </div>
                                    </div>
                                    <div class="check-box col-xs-6 col-sm-6">
                                        <input type="radio" id="radio-zhuangtai2" name="radio-zhuangtai" value="2">
                                        <label for="radio-zhuangtai2">不显示</label>
                                    </div>
                                }
                                else if (Model.Display == 2)
                                {
                                    <div class="cl">
                                        <div class="check-box col-xs-5 col-sm-5">
                                            <input type="radio" id="radio-zhuangtai0" name="radio-zhuangtai" value="0" />
                                            <label for="radio-zhuangtai0">正常</label>
                                        </div>
                                        <div class="check-box col-xs-5 col-sm-5">
                                            <input type="radio" id="radio-zhuangtai1" name="radio-zhuangtai" value="1" />
                                            <label for="radio-zhuangtai1">置顶</label>
                                        </div>
                                    </div>
                                    <div class="cl mt-15">
                                        <div class="check-box col-xs-6 col-sm-6">
                                            <input type="radio" id="radio-zhuangtai2" name="radio-zhuangtai" checked="checked" value="2">
                                            <label for="radio-zhuangtai2">不显示</label>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="cl">
                                        <div class="check-box col-xs-5 col-sm-5">
                                            <input type="radio" id="radio-zhuangtai0" name="radio-zhuangtai" checked="checked" value="0" />
                                            <label for="radio-zhuangtai0">正常</label>
                                        </div>
                                        <div class="check-box col-xs-5 col-sm-5">
                                            <input type="radio" id="radio-zhuangtai1" name="radio-zhuangtai" value="1" />
                                            <label for="radio-zhuangtai1">置顶</label>
                                        </div>
                                    </div>
                                    <div class="cl mt-15">
                                        <div class="check-box col-xs-6 col-sm-6">
                                            <input type="radio" id="radio-zhuangtai2" name="radio-zhuangtai" value="2">
                                            <label for="radio-zhuangtai2">不显示</label>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            @*音乐上传*@
            <div class="row cl" style="margin-top:50px">
                <div class="col-xs-7 col-sm-7 col-xs-offset-4 col-sm-offset-4">
                    <a id="file-btn" class="btn btn-primary radius" data-title="上传音乐" href="javascript:void(0)"><i class="Hui-iconfont">&#xe600;</i> 上传音乐</a>
                    <input type="file" id="file_music" name="file_music" value="@ViewBag.file" />
                    <label id="preview" name="preview">@ViewBag.file</label>
                    <input type="hidden" name="file" id="df" value="@ViewBag.file" />
                </div>
            </div>
        </div>
        <br />
        <div class="row cl" style="margin-top:50px">
            <div class="col-xs-8 col-sm-9 col-xs-offset-6 col-sm-offset-5">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>

                                }

</article>

@section SectionJs
{
    <script type="text/javascript" src="~/Content/Storage/js/StorageListAdd_Admin.js"></script>

    @*弹出框js*@
    <script src="~/Content/Hui/lib/bootstrap-modal/2.2.4/bootstrap-modal.js"></script>
    <script src="~/Content/Hui/lib/bootstrap-modal/2.2.4/bootstrap-modalmanager.js"></script>
}