@model IList<ChangTing.Singer.Models.AlbumInfo>
@{
    Layout = "~/Views/Shared/_Backstage.cshtml";
    ViewBag.Title = "AlbumList";
}

@section SectionCss
{
    @* 自己的css样式 *@
    <link href="~/Content/Album/css/AlbumList_Admin.css" rel="stylesheet" />
}
<div style="margin:0 0 0 46px">
    <div class="pos-r">
        <nav class="breadcrumb">
            <i class="Hui-iconfont">&#xe67f;</i>
            首页
            <span class="c-gray en">&gt;</span>
            歌手管理
            <span class="c-gray en">&gt;</span>
            专辑列表
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
                <i class="Hui-iconfont">&#xe68f;</i>
            </a>
        </nav>
        <div class="page-container">
            <div class="cl pd-5 bg-1 bk-gray mt-20 Hui-asidezdy">
                <span class="l Hui-asidezdyys">
                    <a href="javascript:;" onclick=datadel() class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                    <a class="btn btn-primary radius" _href="../Singer/AlbumListAdd_Admin?albumid=0" data-title="添加专辑" href="javascript:void(0)"><i class="Hui-iconfont">&#xe600;</i> 添加专辑</a>
                </span>
                <span class="r">共有数据：<strong>@Model.Count</strong> 条</span>
            </div>
            <div class="mt-20" style="font-size:48px">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="30"><input name="" type="checkbox" value=""></th>
                            <th width="40">专辑ID</th>
                            <th width="50">头像</th>
                            <th width="50">名称</th>
                            <th width="40">所属歌手</th>
                            <th width="100">专辑介绍</th>
                            <th width="60">发行时间</th>
                            <th width="60">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int namei = 0;
                            ChangTing.Core.ViewModels.Html_Sting html = new ChangTing.Core.ViewModels.Html_Sting();
                            foreach (ChangTing.Singer.Models.AlbumInfo item in Model)
                            {
                                string name = "name" + namei;
                                string introduction = string.Empty;
                                if (!item.Introduce.IsEmpty())
                                {
                                    introduction = html.toHTMLString(item.Introduce);
                                }

                                if (introduction == string.Empty) { introduction = "这个专辑还没有介绍哦~~"; }
                                else if (introduction.Length > 20) { introduction = introduction.Substring(0, 20) + "……"; }
                                <tr class="text-c va-m">
                                    <td><input name="piliang" type="checkbox" value="@item.AlbumId"></td>@*选择按钮*@
                                    <td>@item.AlbumId</td>@*ID*@
                                    <td class="Hui-asidezdy">
                                        <span class="Hui-asidezdyys">
                                            <a _href="../Singer/AlbumListAdd_Admin?albumid=@item.AlbumId" href="javascript:void(0)" data-title="修改信息">
                                                <img src="@item.Image" style="width:66px;height:66px;line-height:66px" title="歌手详情" />
                                            </a>
                                        </span>
                                    </td>@*头像*@
                                    <td>@item.Name</td>@*姓名*@
                                    <td>@ViewData[name]</td>@*歌手姓名*@
                                    <td>@Html.Raw(@introduction)</td >@*专辑介绍*@
                                    @if (@item.Issue==string.Empty || @item.Issue ==null)
                                    {
                                        <td>暂无</td>@*发行时间*@
                                    }
                                    else
                                    {
                                        <td>@item.Issue</td>@*发行时间*@
                                    }
                                    <td class="td-manage Hui-asidezdy">
                                        <span class="Hui-asidezdyys">
                                            <a style="text-decoration:none" class="ml-5" data-title="音乐信息" _href="../Music/StorageList_Admin?albumid=@item.AlbumId" href="javascript:void(0)" title="音乐信息">
                                                <i class="Hui-iconfont">&#xe626;</i>@*"_href不能加"*@
                                            </a>
                                        </span>
                                        <span class="Hui-asidezdyys">
                                            <a style="text-decoration:none" class="ml-5" data-title="修改信息" _href="../Singer/AlbumListAdd_Admin?albumid=@item.AlbumId" href="javascript:void(0)" title="编辑">
                                                <i class="Hui-iconfont">&#xe6df;</i>@*"_href不能加"*@
                                            </a>
                                        </span>
                                        <a style="text-decoration:none" class="ml-5" onClick="product_del(this, @item.AlbumId)" href="javascript:;" title="删除">
                                            <i class="Hui-iconfont">&#xe6e2;</i>
                                        </a>
                                    </td>
                                </tr>
                                namei++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section SectionJs
{
    @* 自己的Js样式 *@
    <script type="text/javascript" src="~/Content/Album/js/AlbumList_Admin.js"></script>
}